@model IEnumerable<HpSubscriptions.Models.SubscriptionRecordViewModel>

@{
    ViewBag.Title = "Subscriptions";
}

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Created</th>
        <th>Type</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var record in Model)
    {
        <tr>
            <td>@record.Id</td>
            <td>@record.Created.ToString("G")</td>
            <td>@record.Type</td>
            <td>
                @Html.ActionLink("Show content", MVC.Subscriptions.Content(record.Id), new {@class = "btn btn-default"})
                @Html.ActionLink(" ", MVC.Subscriptions.Download(record.Id), new {@class = "btn btn-default glyphicon glyphicon-download", title="Download"})
            </td>
        </tr>
    }
    </tbody>
</table>